In [6]:
 # Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
#file_to_load = "/Users/lisahayman/Desktop/homework/myfolder/Heropymoli.csv"
file_to_load = "../myfolder/Heropymoli.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [19]:
#   Player Count/Number of Player 

Player_Count = df["SN"].nunique()
Player_df= pd.DataFrame({
    "Player Count": [Player_Count]})

Player_df

   Player Count
0           576

In [20]:
#  Purchasing Analysis (Total)

#Number of Unique Items
Unique_Names = df["Item Name"].nunique()
#Average Purchase Price
Average_Price = round(df["Price"].mean(),2)

#Total Number of Purchases
Number_Purchases = df["Purchase ID"].count()

#Total Revenue
Total_Revenue = df["Price"].sum()

Purchase_df= pd.DataFrame({
    "Unique Names": [Unique_Names], 
    "Average Price": [Average_Price], 
    "Number of Purchases": [Number_Purchases],
    "Total Revenue": [Total_Revenue]})

Purchase_df

   Unique Names  Average Price  Number of Purchases  Total Revenue
0           179           3.05                  780        2379.77

In [21]:
#Gender Demographics
dataframe_gender=pd.DataFrame(df["Gender"].value_counts()) 
dataframe_gender


#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

gender_count = dataframe_gender["Gender"].sum()
dataframe_gender["Gender Percentage"] = round((dataframe_gender["Gender"]/gender_count)*100,2)
dataframe_gender

                       Gender  Gender Percentage
Male                      652              83.59
Female                    113              14.49
Other / Non-Disclosed      15               1.92

In [22]:
#Purchasing Analysis (Gender)

#The below each broken by gender

#Purchase Count
purchase_count = df.groupby('Gender').count()['Purchase ID']

#Average Purchase Price
purchase_price = df.groupby('Gender').mean()['Price']

#Total Purchase Value
total_value = df.groupby('Gender').sum()['Price']

#Average Purchase Total per Person by Gender

Avg_purchase_PP = total_value/purchase_count 

Gender_Analysis = pd.DataFrame({
        "Purchase Count": purchase_count, 
        "Purchase Price": purchase_price,
        "Total Value": total_value,
        "Average Purchase Total per Person by Gender": Avg_purchase_PP})

Gender_Analysis

,Purchase Count,Purchase Price,Total Value,Average Purchase Total per Person by Gender
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

In [94]:
#Age Demographics

#age_bins = [0, 9.99, 13.99, 18.99, 23.99, 28.99, 33.99, 38.99, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins
df["Age Ranges"] = pd.cut(df["Age"], age_bins, labels=group_names)
df.head()

#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges,count_list
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24,NaN
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+,NaN
2,2,Ithergue48,24,Male,92,Final Critic,4.88,25-29,NaN
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,25-29,NaN
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24,NaN

In [95]:
 

# Calculate the numbers and percentages by age group

age_group_df = pd.DataFrame(df["Age Ranges"].value_counts()) 

age_range = age_group_df["Age Ranges"].sum()

age_group_df["Pecentage of Players"] = round((age_group_df["Age Ranges"]/age_range)*100,2)
age_group_df.sort_index(inplace=True)

age_group_df

       Age Ranges  Pecentage of Players
<10            23                  2.95
10-14          26                  3.33
15-19         115                 14.74
20-24         321                 41.15
25-29         155                 19.87
30-34          77                  9.87
35-39          44                  5.64
40+            19                  2.44

In [25]:
#Average Purchase Price
Avg_PP = round(df.groupby('Age Ranges').mean()['Price'], 2)
Total_PV = df.groupby('Age Ranges').sum()['Price']
Purchase_Count = round(df.groupby('Age Ranges').count()['Purchase ID'], 2)

Avg_Total_pp = round(Total_PV/Purchase_Count,2)

Age_Analysis = pd.DataFrame({
        "Average Purchase Price": Avg_PP, 
        "Total Purchase Value": Total_PV,
        "Purchase Count": Purchase_Count,
        "Avg Total Purchase per Person": Avg_Total_pp})

Age_Analysis

,Average Purchase Price,Total Purchase Value,Purchase Count,Avg Total Purchase per Person
Age Ranges,,,,
<10,3.35,77.13,23,3.35
10-14,2.92,75.87,26,2.92
15-19,3.04,349.82,115,3.04
20-24,3.03,973.82,321,3.03
25-29,3.02,467.99,155,3.02
30-34,2.95,227.10,77,2.95
35-39,3.33,146.48,44,3.33
40+,3.24,61.56,19,3.24

In [26]:
#Total Purchase Value
total_value = df.groupby('Gender').sum()['Price']

#Average Purchase Total per Person by Gender

Avg_purchase_PP = total_value/purchase_count 

Gender_Analysis = pd.DataFrame({
        "Purchase Count": purchase_count, 
        "Purchase Price": purchase_price,
        "Total Value": total_value,
        "Average Purchase Total per Person by Gender": Avg_purchase_PP})

Gender_Analysis


#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group

,Purchase Count,Purchase Price,Total Value,Average Purchase Total per Person by Gender
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

In [27]:
#Top Spenders

purchase_count = df.groupby('SN').count()['Purchase ID']
ave_PP = df.groupby('SN').mean()['Price']
total_PV = df.groupby('SN').sum() ['Price']

Top_Spenders_df = pd.DataFrame({
        
        "Purchase Count": purchase_count,
        "Average Purchase Price": ave_PP,
        "Total Purchase Value": total_PV})

Top_Spenders_df.sort_values('Total Purchase Value', inplace=True, ascending=False)

Top_Spenders_df.head()


#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):


#SN
#Purchase Count
#Average Purchase Price
#Total Purchase Value

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [113]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges,count_list
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24,NaN
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+,NaN
2,2,Ithergue48,24,Male,92,Final Critic,4.88,25-29,NaN
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,25-29,NaN
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24,NaN

In [104]:
#Most Popular Items


#Identify the 5 most popular items by purchase count, then list (in a table):

purchase_ID = df.groupby ('SN').count()
item_name = df.gtroupby('SN')['Item Name']
ave_PP = df.groupby('SN').mean()['Price']
purchase_count = df.groupby('SN').count()['Purchase ID']
total_PV = df.groupby('SN').sum() ['Price']

Most_Popular_df = pd.DataFrame({
        
        "Item ID" : purchase_ID,
        "Item Name" : item_name,
        "Purchase Count": purchase_count,
        "Average Purchase Price": ave_PP,
        "Total Purchase Value": total_PV})

Most_Popular_df.sort_values('Purchase Count', inplace=True, ascending=False)

Most_Popular_df.head()

#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

,Item ID,Item Name,Purchase Count,Average Purchase Price,Total Purchase Value
SN,,,,,
Lisosia93,5,"(Lisosia93, [Blazefury, Protector of Delusions...",5,3.792000,18.96
Iral74,4,"(Iral74, [Freak's Bite, Favor of Holy Might, Y...",4,3.405000,13.62
Idastidru52,4,"(Idastidru52, [Hellreaver, Heirloom of Incepti...",4,3.862500,15.45
Asur53,3,"(Asur53, [Brutality Ivory Warmace, Suspension,...",3,2.480000,7.44
Inguron55,3,"(Inguron55, [Singed Onyx Warscythe, Fiery Glas...",3,3.703333,11.11

In [118]:
purchase_ID = df.groupby ('').count()[['Purchase ID', 'Item Name']]
purchase_ID.head()

              Purchase ID  Item Name
SN
Adairialis76            1          1
Adastirin33             1          1
Aeda94                  1          1
Aela59                  1          1
Aelaria33               1          1

### Most Profitable Items


#Identify the 5 most profitable items by total purchase value, then list (in a table):


#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

In [119]:
df.groupby('Item Name').count()

,Purchase ID,SN,Age,Gender,Item ID,Price,Age Ranges,count_list
Item Name,,,,,,,,
Abyssal Shard,5,5,5,5,5,5,5,0
"Aetherius, Boon of the Blessed",5,5,5,5,5,5,5,0
Agatha,6,6,6,6,6,6,6,0
Alpha,3,3,3,3,3,3,3,0
"Alpha, Oath of Zeal",3,3,3,3,3,3,3,0
"Alpha, Reach of Ending Hope",1,1,1,1,1,1,1,0
Amnesia,6,6,6,6,6,6,6,0
Apocalyptic Battlescythe,6,6,6,6,6,6,6,0
Arcane Gem,3,3,3,3,3,3,3,0
Avenger,6,6,6,6,6,6,6,0
Azurewrath,6,6,6,6,6,6,6,0
"Betrayal, Whisper of Grieving Widows",5,5,5,5,5,5,5,0
Betrayer,1,1,1,1,1,1,1,0
Blade of the Grave,4,4,4,4,4,4,4,0
"Blazefury, Protector of Delusions",3,3,3,3,3,3,3,0
"Blazeguard, Reach of Eternity",5,5,5,5,5,5,5,0
Blindscythe,5,5,5,5,5,5,5,0
Blood Infused Guardian,6,6,6,6,6,6,6,0
Blood-Forged Skeletal Spine,6,6,6,6,6,6,6,0
Bloodlord's Fetish,5,5,5,5,5,5,5,0
Bone Crushing Silver Skewer,4,4,4,4,4,4,4,0
Bonecarvin Battle Axe,5,5,5,5,5,5,5,0
Brimstone,5,5,5,5,5,5,5,0
Brutality Ivory Warmace,8,8,8,8,8,8,8,0
Celeste,1,1,1,1,1,1,1,0
"Celeste, Incarnation of the Corrupted",4,4,4,4,4,4,4,0
"Chaos, Ender of the End",5,5,5,5,5,5,5,0
Conqueror Adamantite Mace,5,5,5,5,5,5,5,0
Crucifer,4,4,4,4,4,4,4,0
Crying Steel Sickle,3,3,3,3,3,3,3,0
...,...,...,...,...,...,...,...,...
"Thorn, Conqueror of the Corrupted",4,4,4,4,4,4,4,0
"Thorn, Satchel of Dark Souls",7,7,7,7,7,7,7,0
Thunderfury Scimitar,5,5,5,5,5,5,5,0
Toothpick,3,3,3,3,3,3,3,0
"Torchlight, Bond of Storms",2,2,2,2,2,2,2,0
"Tranquility, Razor of Black Magic",5,5,5,5,5,5,5,0
Trickster,2,2,2,2,2,2,2,0
Twilight's Carver,4,4,4,4,4,4,4,0
Undead Crusader,1,1,1,1,1,1,1,0
Unending Tyranny,3,3,3,3,3,3,3,0
Unholy Wand,2,2,2,2,2,2,2,0
Vengeance Cleaver,7,7,7,7,7,7,7,0
Venom Claymore,4,4,4,4,4,4,4,0
Verdict,6,6,6,6,6,6,6,0
Victor Iron Spikes,4,4,4,4,4,4,4,0
Vindictive Glass Edge,3,3,3,3,3,3,3,0
War-Forged Gold Deflector,5,5,5,5,5,5,5,0
"Warmonger, Gift of Suffering's End",3,3,3,3,3,3,3,0
Warped Diamond Crusader,3,3,3,3,3,3,3,0
Warped Fetish,5,5,5,5,5,5,5,0
Warped Iron Scimitar,5,5,5,5,5,5,5,0
Whistling Mithril Warblade,2,2,2,2,2,2,2,0
Winter's Bite,8,8,8,8,8,8,8,0
"Winterthorn, Defender of Shifting Worlds",2,2,2,2,2,2,2,0
Woeful Adamantite Claymore,3,3,3,3,3,3,3,0
Wolf,8,8,8,8,8,8,8,0
"Wolf, Promise of the Moonwalker",6,6,6,6,6,6,6,0
Worldbreaker,4,4,4,4,4,4,4,0
Yearning Crusher,3,3,3,3,3,3,3,0
Yearning Mageblade,5,5,5,5,5,5,5,0

In [112]:
df["Item Name"].value_counts ().head()

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Extraction, Quickblade Of Trembling Hands        9
Persuasion                                       9
Fiery Glass Crusader                             9
Name: Item Name, dtype: int64